@import "../../global.scss";
.section {
  @extend %section;
}
.title {
  @extend %title;
}
.line {
  @extend %line;
}
.sub-heading {
  @extend %sub-heading;
}
.main-box {
  display: flex;
  justify-content: space-around;
}
.info {
  @extend %info;
  li {
    @extend %li;
  }
  p {
    @extend %li;
    padding: 5px;
  }
}

@media only screen and (max-width: 426px) {
  .title {
    font-size: 25pt;
  }
  .sub-heading {
    font-size: 20pt;
  }
  .main-box {
    display: flex;
    flex-direction: column;
  }
  .info {
    li {
      font-size: 15pt;
    }
  }
}
