@import "./global.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font1, $font2, $font3;
}
html {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/grey-background.png");
  background-position: center;
  background-size: cover;
}
main {
  position: relative;
  left: 13vw;
  width: 87vw;
  height: 100vh;
  @extend %flex-centered;
}

.page-container {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.3);
  width: 80%;
  max-width: 80%;
  max-height: 90%;
  @extend %flex-centered;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  border-radius: 20px;
  padding: 30px 20px 0 20px;
}

@media only screen and (max-width: 426px) {
  main {
    top: 12vh;
    left: 0;
    width: 100vw;
    height: 85vh;
  }
  .page-container {
    padding: 20px 5px 5px 5px;
    max-width: 95%;
    width: 95%;
    max-height: 98%;
    box-shadow: none;
    margin-top: 2vh;
  }
}
