// variables
$primary: rgb(121, 0, 158);
$secondary: red;
$tertiary: blue;

$text1: white;
$text2: rgb(69, 0, 90);

$accent: rgb(32, 0, 51);
// inheritance
%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
